Ajouter un utilisateur <span class="slash_color_rose"> /</span><p></p>
<div class="contact_modif">
  <form method="post" action="#">
    <div class="titre_membre">
      <div>
        <label><strong>Promotion : </strong></label><br><br>
        <label><strong>Nom : </strong></label><br><br>
        <label><strong>Prénom : </strong></label><br><br>
        <label><strong>Mail : </strong></label>
      </div>
      <div class="input_titre_membre">
        <input class="input_titre" type="text" placeholder="Promotion "><br><br>
        <input class="input_titre" type="text" placeholder="Nom"><br><br>
        <input class="input_titre" type="text" placeholder="Prénom"><br><br>
        <input class="input_titre" type="text" placeholder="Mail"><br><br>
      </div>
    </div>
</div>
<div class="bouton_changer_photo"><a class="bouton" href="#"><p class="text_bouton">Ajouter</p></a></div>
