Accueil<span class="slash_color_blue"> /</span><p></p>
<div class="block_accueil1">
  <p>
    <%=raw RedCloth.new(@setting) %>
  </p>
</div>
<div class="block_accueilbis">
  <div class="block_accueil2"></div>
  <div class="block_accueil3"></div>
</div>
